.form-container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}

.form-div {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 414px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background-color: #ff99004d;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.signUp-btn {
    text-align: center;
    color: #FF9900;
    text-decoration: none;
}


.hr-line {
    display: inline;
    width: 200px;
}

.google-sign {
    width: 203px;
    height: 32px;
    background-color: rgb(240, 235, 235);
    border: 1px solid gray;
    border-radius: 5px;
}